
<head>
    <meta charset="UTF-8">
    <title>Scraping With Mongoose</title>
    
  </head>
  <body>
  
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >MMO Scraper</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
     
    </ul>
   <button type="button" id="scraper" class="btn btn-warning " data-toggle="modal" data-target="#scrapeModal" >Scrape</button>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="scrapeModal" tabindex="-1" role="dialog" aria-labelledby="scrapeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scrapeModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Test</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id ="closeBtn" data-dismiss="modal" onclick="window.location.reload();">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>




    <div id="wrapper">
      <h1>Ha Ha No MMOs Here</h1>
      <p>Please Click The Orange Scrape Button to Scrape New Articles!</p>
      <h2><i>Hacker News Scraper: Learn Something f00!</i></h2>
      <div id="articles"></div>
          {{#each dbArticle}}
         <div class="card" id="post">
                     <div class="card-block">
                       <span id="post-body">{{title}}</span><a href="#" class="btn btn-primary savez" data-id="{{_id}}" onclick="window.location.reload();">Save Article</a>
                        <br>
                        <a href="#" id="postername">{{link}}</a><span id="says"> </span>
                        
                    </div>
                </div>
        {{/each}}
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>